@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Playfair+Display:wght@900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.bigred {
  font-size: 20px;
  color: red;
}

body {
  font-family: Inter, sans-serif;
  background-color: #EFF1ED;
  color: #505A5B;
}

.wrapper-inner {
  max-width: 1170px;
  padding: 120px 16px;
  margin: 0 auto;
}

.subheader {
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 24px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.header {
  font-family: 'Playfair Display';
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 72px;
  margin-bottom: 32px;
}

.paragraph {
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
}

.section-header {
  height: 92px;
  position: fixed;
  background-color: #EFF1ED;
  top: 0;
  width: 100%;
}

.section-header .wrapper-inner {
  padding: 32px 0;
  position: relative;
}

.section-header .wrapper-inner .navbar {
  width: 880px;
  margin: 0 auto;
}

.section-header .wrapper-inner .navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-header .wrapper-inner .navbar__link {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #505A5B;
}

.section-header .wrapper-inner .navbar__link--active {
  color: #D36060;
  text-decoration: underline;
}

.section-header .wrapper-inner .navbar__link--cta-btn {
  background-color: #505A5B;
  color: #fff;
  padding: 16px 32px;
  border-radius: 8px;
}

.section-header .wrapper-inner .hamburger {
  display: none;
}

.section-header .wrapper-inner .hamburger .navbar__link {
  position: absolute;
  top: 50%;
  left: 16px;
}

.section-header .wrapper-inner .hamburger__btn {
  position: absolute;
  top: 25%;
  right: 16px;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.section-header .wrapper-inner .hamburger__cross {
  position: absolute;
  top: 25%;
  right: 16px;
  width: 64px;
  height: 64px;
  cursor: pointer;
  display: none;
}

@media (max-width: 992px) {
  .section-header .wrapper-inner .navbar__menu {
    display: none;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 50%;
    background-color: #EFF1ED;
    z-index: 99;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: .2s ease-in;
    transition: .2s ease-in;
  }
  .section-header .wrapper-inner .navbar__menu .navbar__item:not(:last-child) {
    margin-bottom: 60px;
  }
  .section-header .wrapper-inner .navbar__menu.active {
    right: 0;
  }
  .section-header .wrapper-inner .hamburger {
    display: block;
  }
  .section-header .wrapper-inner .hamburger__btn.active {
    display: none;
  }
  .section-header .wrapper-inner .hamburger__cross.active {
    display: block;
    z-index: 100;
  }
}

@media (max-width: 576px) {
  .section-header .wrapper-inner .navbar__menu.active {
    width: 100%;
  }
}

.section-hero .hero {
  height: 1024px;
  max-width: 1440px;
  margin: 0 auto;
  background: url("../img/carlos-vaz-KP4bxnxAilU-unsplash 1.png") no-repeat;
}

.section-hero .hero .hero__text {
  width: 508px;
  color: #EFF1ED;
  float: right;
  padding-top: 260px;
  padding-right: 104px;
}

.section-hero .hero .hero__header {
  font-family: 'Playfair Display';
  font-weight: 900;
  font-size: 7.5rem;
  line-height: 156px;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}

.section-hero .hero .hero__subtext {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 52px;
}

@media (max-width: 992px) {
  .section-hero .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-position-x: 30%;
  }
  .section-hero .hero .hero__text {
    padding-right: 0;
    width: 70%;
    text-align: center;
    padding-top: 0;
  }
}

@media (max-width: 576px) {
  .section-hero .hero .hero__text {
    padding-top: 40px;
    padding-bottom: 40px;
    height: 100vh;
  }
  .section-hero .hero .hero__header {
    font-size: 5.5rem;
    line-height: 100px;
  }
  .section-hero .hero .hero__subtext {
    font-size: 2rem;
  }
}

.section-storia .wrapper-inner {
  padding-top: 160px;
  padding-bottom: 160px;
}

.section-storia .wrapper-inner .storia {
  max-width: 1070px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.section-storia .wrapper-inner .storia__img {
  border-radius: 10px;
  margin-right: 120px;
  width: 100%;
  height: 100%;
}

.section-storia .wrapper-inner .storia__text {
  padding: 36px 0;
}

@media (max-width: 992px) {
  .section-storia .wrapper-inner {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .section-storia .wrapper-inner .storia {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .section-storia .wrapper-inner .storia__img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 700px;
  }
}

.section-ottica {
  background-color: #505A5B;
  color: #EFF1ED;
}

.section-ottica .wrapper-inner {
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-ottica .wrapper-inner .ottica {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-ottica .wrapper-inner .ottica__img {
  margin-right: 0;
  width: 100%;
  height: 100%;
}

.section-ottica .wrapper-inner .ottica__brands .header {
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 80px;
}

.section-ottica .wrapper-inner .ottica .brand:not(:last-child) {
  margin-right: 80px;
}

.section-ottica .wrapper-inner .ottica__paragraph {
  margin-right: 120px;
}

.section-ottica .wrapper-inner .ottica__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-bottom: 120px;
}

@media (max-width: 992px) {
  .section-ottica .wrapper-inner .ottica__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
  }
  .section-ottica .wrapper-inner .ottica__content__img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 700px;
  }
  .section-ottica .wrapper-inner .ottica__content .paragraph {
    margin: 0 auto;
  }
  .section-ottica .wrapper-inner .ottica__content .subheader {
    display: block;
    margin-top: 28px;
  }
  .section-ottica .wrapper-inner .ottica__brands .brands-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .section-ottica .wrapper-inner .ottica__brands .brands-container .brand:not(:last-child) {
    width: 100%;
    height: 100%;
    margin-bottom: 32px;
  }
}

.section-visita .wrapper-inner {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-visita .wrapper-inner .visita {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-visita .wrapper-inner .visita__cta-btn {
  background-color: #505A5B;
  color: #fff;
  padding: 16px 32px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 28px;
}

.section-visita .wrapper-inner .visita__img {
  margin-bottom: 68px;
}

.section-visita .wrapper-inner .visita .visita__text {
  max-width: 572px;
  margin: 0 auto;
}

.section-visita .wrapper-inner .visita .visita__text .paragraph {
  margin-bottom: 40px;
}

@media (max-width: 992px) {
  .section-visita .wrapper-inner .visita {
    text-align: center;
  }
}

.section-footer {
  background-color: #505A5B;
  color: #EFF1ED;
}

.section-footer .wrapper-inner {
  padding-top: 80px;
  padding-bottom: 40px;
}

.section-footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-footer .footer__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin-bottom: 80px;
}

.section-footer .footer__column {
  max-width: 276px;
}

.section-footer .footer__item {
  margin-bottom: 20px;
}

.section-footer .footer__item a {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #EFF1ED;
}

.section-footer .footer__item .footer__link--logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.section-footer .footer__item .footer__link--underlined {
  text-decoration: underline;
}

@media (max-width: 576px) {
  .section-footer .footer__item .footer__link {
    font-size: 1rem;
  }
}

.section-footer .copyright {
  line-height: 1.3rem;
}

@media (max-width: 576px) {
  .section-footer .wrapper-inner {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .section-footer .wrapper-inner .footer__columns {
    margin-bottom: 40px;
  }
}
/*# sourceMappingURL=style.css.map */